/* The page is NOT responsive. You can implement responsiveness yourself if you wanna have some fun 😃 */

:root {
  --color-primary: #ddb249;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(
    108deg,
    #b16cea 8%,
    #ff5e69 40%,
    #ff8a56 77%,
    #ffa84b 91%
  );
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  background-color: #1c1c22;
  color: white;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

/* Loader  */

#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: visible;
  background: #fff url("logo Gif.gif") no-repeat center center;
}

/* GENERAL ELEMENTS */
.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--gradient-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

p {
  color: #fff;
}

/* This is BAD for accessibility! Don't do in the real world! */
button:focus {
  outline: none;
}

img {
  transition: filter 0.5s;
}

.lazy-img {
  filter: blur(20px);
}

/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
  display: flex;
  font-size: 6.5rem;
  margin-right: 10rem;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: white;
  color: #1c1c22;
  font-weight: 600;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #333;
}

/* HEADER */
.header {
  padding: 13rem 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  flex: 1;

  max-width: 115rem;
  display: grid;
  grid-template-columns: 4fr 2fr;
  row-gap: 1rem;
  align-content: center;
  justify-content: center;

  align-items: start;
  justify-items: start;
}

h1 {
  font-size: 6rem;
  line-height: 1;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
  opacity: 70%;
}
.header_small_text{
  font-size: 1.5rem;
  font-weight: 500;
  display: inline;
  background-image: var(--gradient-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -4rem;
}
.main_intro{
  margin-left: 1.5rem;
  font-size: 1.3rem;
  width: 60%;
  margin-bottom:4rem;
}
.header__img {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  transform: translateY(-6rem);
}

.highlight {
  position: relative;
  font-weight: 800;
  display: inline;
  background-image: var(--gradient-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

 /* Summary */

.summary{
  display: flex;
  padding: 10rem;

  margin-bottom: 10rem;
}

.left_side{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;

  padding-right: 5rem;
}
.small_left{
  font-size: 1.8rem;
  font-weight:700;
  display: inline;
  background-image: var(--gradient-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.small_left_head{
  font-size: 7rem;
}
.right_side{
  width: 50%;
}
.summary_info{
  font-size:1.3rem;
}

/* SKILLS */
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 10rem;
  margin-bottom: 20rem;
}
.skill_header {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.skill_title {
  display: inline;
  font-size: 1.8rem;
  font-weight: 700;
  background-image: var(--gradient-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -2rem;
}
.edu_heading {
  display: flex;
  font-size: 6rem;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
}
.edu_heading2 {
  display: flex;
  font-size: 6rem;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
  background-color: transparent;
}

.skill_info{
  display: flex;
  margin-top: 2.3rem;
}
.sub_div{
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  padding-left:7% ;
}
.skill_sub_head{
  font-size: 2rem;
  font-weight: 500;
}
.skill_sub_para{
  font-size: 1.3rem;
  opacity: 60%;

  width: 70%;
}
.skill_list{
  padding-left:2rem;
  padding-top: 1.3rem;
}
.skill_list li{
  font-size: 1.3rem;
}

/* CONTACT - ME */
.contact_me {
  margin: 7rem;
}
.contact_head {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 5rem;
}
.get_in_touch {
  display: inline;
  background-image: var(--gradient-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact {
  display: flexbox;
}
.contact_para {
  display: flex;
  font-size: 1.5rem;
  padding: 2rem;
  opacity: 70%;
  width: 50%;
}
.info {
  font-size: 1.5rem;
  padding: 2rem;
  padding-top: 0;
}
.info_icon {
  padding: 1rem;
  padding-left: 0;
}

/* FOOTER */
.footer {
  padding: 10rem 3rem 0 3rem;
  /* background-color: #37383d; */
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer__item {
  margin: 0 1rem;
  justify-content: center;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 15rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}

/* TO HIDE ANY TAG */
.hidden {
  visibility: hidden;
  opacity: 0;
}
